<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CarShopDb"
         connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=CarShop;Integrated Security=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>